/*
	Black	
*/

.black
{
	color: #000;
}

/*
	White	
*/

.white
{
	color: #FFF;
}

/*
	Grey	
*/

.grey
{
	color: #888;
}

/*
	Red	
*/

.red
{
	color: #e74c3c;
}

/*
	Green	
*/

.green
{
	color: #2ecc71;
}

/*
	Blue	
*/

.blue
{
	color: #3498db;
}

/*
	Orange	
*/

.orange
{
	color: #e67e22;
}

/*
	Purple	
*/

.purple
{
	color: #9b59b6;
}

/*
	Yellow	
*/

.yellow
{
	color: #f1c40f;
}

/*
	Turquoise	
*/

.turquoise
{
	color: #1abc9c;
}

/*
	Midnight Blue	
*/

.midnight
{
	color: #2c3e50;
}

/*
	Lightning Yellow
*/

.lightning
{
	color: #F5AB35;
}